### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [12]:
user_raw_df = purchase_data[["SN", "Age", "Gender"]]
user_df = user_raw_df.drop_duplicates(subset = ["SN"])
user_df.reset_index(inplace = True)
num_players = user_df["SN"].count()
num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
num_unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
gender_count_series = user_df["Gender"].value_counts()
avg_age = user_df["Age"].mean()

data = {"Category": ["Unique Items", "Average Purchase Price", "Average Player Age", "Purchase Total"],
        "Result": [num_unique_items, avg_price, avg_age, purchase_data["Price"].sum()]}
summary_df = pd.DataFrame(data)
summary_df.head()

                 Category       Result
0            Unique Items   179.000000
1  Average Purchase Price     3.050987
2      Average Player Age    22.741319
3          Purchase Total  2379.770000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
#TODO: format percent with mapping
frame = {"Count": gender_count_series, "Percentage": gender_count_series / num_players}
gender_df = pd.DataFrame(frame)
gender_df

                       Count  Percentage
Male                     484    0.840278
Female                    81    0.140625
Other / Non-Disclosed     11    0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#TODO: add % column; Organize columns 

#purchase ct: orig df group by gender
gender_groups = purchase_data.groupby("Gender")
num_of_buys = gender_groups["Item ID"].count()
#total: group by gender, sum price
total_money = gender_groups["Price"].sum()
#avg purchase price: group by gender, total / purchase ct
avg_purchase = gender_groups["Price"].mean()
#avg purchases per person: groupby gender, sn, ?
purchases_per_person = gender_groups["SN"].count()/gender_groups["SN"].nunique()
money_per_person = total_money / gender_groups["SN"].nunique()
num_of_players = gender_groups["SN"].nunique()

purchase_analysis_gender_df = pd.concat([total_money, num_of_buys, num_of_players, avg_purchase, purchases_per_person, money_per_person], axis=1)
purchase_analysis_gender_df.columns = ["Total money", "Purchase Count", "num of players", "Price/purchase", "Purchases/Person", "Money/Person"]
purchase_analysis_gender_df

,Total money,Purchase Count,num of players,Price/purchase,Purchases/Person,Money/Person
Gender,,,,,,
Female,361.94,113,81,3.203009,1.395062,4.468395
Male,1967.64,652,484,3.017853,1.347107,4.065372
Other / Non-Disclosed,50.19,15,11,3.346000,1.363636,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo_df = user_df.copy()

#user_df
age_demo_df["Age Group"] = pd.cut(user_df["Age"], bins=bins, labels=labels)
age_groupby = age_demo_df.groupby("Age Group")

#series with numbers in each age group
num_age_group = age_groupby["index"].count()
total_users = num_age_group.sum()

#series of percentage in each age group
percent_age_group = num_age_group / total_users

new_age_demo_df = pd.concat([num_age_group, percent_age_group], axis=1)
new_age_demo_df.columns = ("Number of Players", "Percent of Players")
new_age_demo_df

           Number of Players  Percent of Players
Age Group
<10                       17            0.029514
10-14                     22            0.038194
15-19                    107            0.185764
20-24                    258            0.447917
25-29                     77            0.133681
30-34                     52            0.090278
35-39                     31            0.053819
40+                       12            0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
age_analysis_df = purchase_data.copy()
age_analysis_df["Age Group"] = pd.cut(age_analysis_df["Age"], bins=bins, labels=labels)
age_analysis_groupby = age_analysis_df.groupby("Age Group")
purchase_count_series = age_analysis_groupby["SN"].count()
avg_purchase_price_series = age_analysis_groupby["Price"].mean()
total_purchase_value_series = age_analysis_groupby["Price"].sum()
avg_total_per_person_series = total_purchase_value_series / num_age_group

new_age_analysis_df = pd.concat([purchase_count_series, avg_purchase_price_series, total_purchase_value_series, avg_total_per_person_series], axis=1)
new_age_analysis_df.columns = ("Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person")
new_age_analysis_df

#TODO: format money values with mapping

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
top_spenders_groupby = purchase_data.groupby(["SN"])
ts_total_purchase_value = top_spenders_groupby["Price"].sum().sort_values(ascending=False)
ts_purchase_count = top_spenders_groupby["Price"].count().sort_values(ascending=False)
ts_avg_purchase_price = (ts_total_purchase_value / ts_purchase_count).sort_values(ascending=False)

top_spenders_df = pd.concat([ts_purchase_count, ts_avg_purchase_price, ts_total_purchase_value], axis=1)
top_spenders_df.columns = ("Purchase Count", "Average Purchase Price", "Total Purchase Value")
top_spenders_df.sort_values(by="Total Purchase Value", ascending=False).head(5)

#TODO: formatting

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
pop_items_df = purchase_data[["Item ID", "Item Name", "Price"]].copy()
pop_items_groupby = pop_items_df.groupby(["Item ID"])
pop_total_price = pop_items_groupby["Price"].sum().sort_values(ascending=False)
pop_purchase_count = pop_items_groupby["Price"].count().sort_values(ascending=False)
pop_item_price = pop_items_groupby["Price"]

pop_item_price = purchase_data.loc[:,["Item ID", "Price"]]
new_pop_item_price = pop_item_price.drop_duplicates(subset="Item ID")
pop_item_names = purchase_data.loc[:,["Item ID", "Item Name"]].drop_duplicates(subset="Item ID")
pop_item_names.set_index("Item ID", inplace=True)

new_pop_item_price.set_index("Item ID", inplace=True)
pop_items_summary_df = pd.concat([pop_item_names, pop_purchase_count, new_pop_item_price, pop_total_price], axis=1)
pop_items_summary_df.columns = ["Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]
pop_items_summary_df.sort_values(by="Purchase Count", ascending=False, inplace=True)
pop_items_summary_df.head(5)

#NOTE: Final Critic has 2 different prices: 4.88 and 4.19, this accounts for 59.99 != 13*4.88
#Instead of averaging the prices, I chose to leave 4.88 as the price since it was the mode.

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
#TODO: add formatting

pop_items_summary_df.sort_values(by="Total Purchase Value", ascending=False, inplace=True)
pop_items_summary_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80